@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 155 63% 8%;
    --foreground: 48 30% 92%;
    --card: 168 86% 14%;
    --card-foreground: 48 30% 92%;
    --popover: 168 86% 14%;
    --popover-foreground: 48 30% 92%;
    --primary: 43 56% 52%;
    --primary-foreground: 155 63% 8%;
    --secondary: 168 30% 20%;
    --secondary-foreground: 48 30% 92%;
    --muted: 168 30% 16%;
    --muted-foreground: 43 30% 60%;
    --accent: 43 56% 52%;
    --accent-foreground: 155 63% 8%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 48 30% 92%;
    --border: 43 56% 52% / 0.2;
    --input: 43 56% 52% / 0.2;
    --ring: 43 56% 52%;
    --radius: 0.75rem;
  }
}
